<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/job/admin/<%=id%>" method="POST">
  job_type:<br>
  <input type="text" name="job_type" >
  <br>
  job_title:<br>

  <input type="text" name="job_title">
  <br><br>
  <input type="text" name="job_location" >
  <br><br>
  <input type="text" name="job_description" >
  <br><br>
  <input type="text" name="job_ctc">
  <br><br>
  <input type="submit" value="Submit">
</form>



</body>
</html>
